body {
  font: 5rem "Century Gothic", Futura, sans-serif;
  margin: 1px;
  text-align: center;
}

.opponent-hand {
  font-size: 15rem;
}

.player-hand {
  font-size: 6rem;
  margin: 1rem;
  padding: 1rem;
}